<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.computerURL = "<%= image_url('computer.png') %>";
</script>

<script type="text/javascript">
  window.nevernoteURL = "<%= image_url('nevernote.png') %>";
</script>

<script type="text/javascript">
  window.nevernoteLogoURL = "<%= image_url('nevernote-logo.png') %>";
</script>

<script type="text/javascript">
  window.delete_logo = "<%= image_url('trash.png')%>"
</script>

<main id="root"></main>
